# Ignore artifacts:
/build
/dist
/.svelte-kit
/coverage
src/convex/_generated

# Ignore dependency directories:
/node_modules

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/